<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% for key, item in items.items()|sort() -%}
<div class="container">
  <h2>{{ key }}</h2>
  <p>Click on the collapsible panel to open and close it.</p>
  <div class="panel-group">
    <div class="panel {% if 'FAIL' in item | map(attribute='result') | list %}panel-danger{% else %}panel-primary{% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#{{ key }}">Test cases</a>
        </h4>
      </div>
      <div id="{{ key }}" class="panel-collapse collapse">
        {% for subitem in item -%}
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">{{ subitem.url }}</div><div class="col-md-6">{{ subitem.result }}</div>
          </div>
        </div>
        {% endfor -%}
      </div>
    </div>
  </div>
</div>
{% endfor %}
</body>
</html>

